.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 0 auto 20px;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  @media (--tablet) {
    max-width: 660px;
  }

  h1 {
    margin: 0 0 10px;
  }

  img {
    background: white;
  }
}

.title {
  a {
    text-decoration: none;
  }
}

.coverImage {
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.meta {
  font-size: 1rem;
  margin-bottom: 30px;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  margin-right: 10px;
  font-weight: 800;
  color: var(--color-text-secondary);
}

.postContent {
  position: relative;

  & img {
    border: 8px solid white;
    border-radius: 8px;
    background: white;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
  }
}
