.page-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin: 30px auto;
  width: 100%;
  max-width: 800px;
  padding-bottom: 45px;

  @media (--tablet) {
    max-width: 660px;
  }
}
